*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*base setup - hidden until scrolled into view*/
.fade-in-up, .fade-in-left, .fade-in-right{
    opacity: 0; 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

nav{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.toggle{
    display: none;
    background: #F4B8A8;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.unordered {
    display: flex;
    gap: 25px;
    list-style: none;
}

.unordered li a{
 text-decoration: none;
 font-size: 20px;
 color: black;
}

.unordered li:hover a{
    color: rgb(230, 138, 18);
    text-decoration: overline;
}

.logo{
    font-size: 25px;
    color: #4A2C2A;
    text-shadow:
        5px 5px 10px rgba(74, 44, 42, 0.3),
        -5px -5px 10px rgba(74, 44, 42, 0.2);
}

.home{
    display: flex;
}

.home-info{
    padding: 10% 5%;
    width: 700px;
}

.image{
    width:300px;
    height: 300px;
    border-radius: 100%;
    background-color: blueviolet;
    box-shadow: 0 0 30px;
    margin: 90px 0 0 200px;
}

.imag{
    width: 290px;
    height: 290px;
    border-radius: 100%;
    background-color: red; 
    margin: 5px;
}

.img{
    width: 290px;
    height: 290px;
    border-radius: 100%;
}

.media{
    margin-top: 10px;
}

.btncv{
    height: 45px;
    width: 150px;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #F4B8A8;
    color: #4A2C2A;
    text-shadow:
        5px 5px 10px rgba(74, 44, 42, 0.3),
        -5px -5px 10px rgba(74, 44, 42, 0.2);
    border: 1px solid #F4B8A8;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.fade-in-up{
    transform: translate(30px);
}

.about{
    padding: 1% 5%;
}

.about-info{
    text-align: center;
    /* height: 100px; */
    width: 1215px;
    background-color: beige;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.info{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 20px;
}

.personal{
    height: 450px;
    width: 400px;
    background-color: beige;
    border-radius: 10px;
    padding: 3% 3%;
    font-size: 20px;  
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.personal-info{
    overflow-y: scroll;
    height: 320px;
    width: 300px;
    margin-top: 20px;
}

.education{
    height: 450px;
    width: 400px;
    background-color: beige;
    border-radius: 10px;
    padding: 3%;
    font-size: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.skills{
    height: 450px;
    width: 400px;
    background-color: beige;
    border-radius: 10px;
    padding: 3% 3%;
    font-size: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.bar-container{
    width: 100%;
    height: 25px;
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.bar-fill{
    height: 100%;
    width: 75%;
    background: rgb(243, 206, 160);
    transition: width 0.3s ease;
}

.bar-container1{
    width: 100%;
    height: 25px;
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.bar-fill1{
    height: 100%;
    width: 50%;
    background: rgb(243, 206, 160);
    transition: width 0.3s ease;
}


.bar-container2{
    width: 100%;
    height: 25px;
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.bar-fill2{
    height: 100%;
    width: 25%;
    background: rgb(243, 206, 160);
    transition: width 0.5s ease-in-out;
}

.fade-in-left{
    transform: translate(-40px);
}

.services{
    padding: 1% 5%;
    
}

.service-div{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.d1, .d2, .d3, .d4{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-color: beige;
    padding: 3%;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.d1:hover, .d2:hover, .d3:hover, .d4:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.btn1, .btn2, .btn3, .btn4{
    padding: 10px;
    border: 2px solid #f7e7ce;
    margin-top: 40px;
    background-color: #f7e7ce;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.fade-in-right{
    transform: translate(40px);
}

.contact{
    padding: 1% 5%;
}

.conta{
    background-color: beige;
    display: flex;
    font-size: 18px;
    gap: 200px;
    height: 450px;
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
    padding: 2%; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.con{
    height: 410px;
    width: 500px;
    background-color: bisque;
    border-radius: 30px;
    padding: 2%;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.30);
}

.con:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

input{
    width: 350px;
    padding: 3%;
    margin-top: 10px;
    border: 2px solid bisque; 
    background-color: beige; 
    border-radius: 10px;
}

textarea{
    width: 350px;
    height: 90px;
    padding: 1%;
    margin-top: 10px;
    border: 2px solid bisque; 
    background-color: beige; 
    border-radius: 10px;
}

.btnmess{
    height: 45px;
    width: 350px;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid #F4B8A8;
    background-color: #F4B8A8;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19);
}

.show{
    opacity: 1;
    transform: translateX(0) translateY(0);
}



/*mobiles*/
@media only screen and (max-width: 480px) {

    .unordered{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        position: absolute;
        height: 425%;
        width: 200px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0 0 0 0.5);
        backdrop-filter: blur(20px); 
    }

    .unordered.active{
        display: flex;
    }

    .toggle{
        display: block;
        z-index: 999;
    }

    .toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .home{
        flex-direction: column-reverse;
    }

    .home-info{
        text-align: center;
        width: 380px;
    }
    .home-info h1 {
        font-size: 40px;
        padding-bottom: 10px;
    }

    .home-info p{
        padding-top: 10px;

    }

    .image{
        margin: 50px 0 30px 35px;
    }

    .about-info{
        width: 350px;
        height: 200px;
        padding: 10px;
    }

    .info{
        flex-direction: column;
        margin-top: 50px;
    }

    .personal{
        width: 350px;
        padding: 5%;
    }

    .education{
        width: 350px;
        padding: 5%;
    }

    .skills{
        width: 350px;
        padding: 5%;
    }

    .service-div{
        flex-wrap: wrap;
        padding: 6%;
    }

    .conta{
        flex-direction: column-reverse;
        height: 900px;
        width: 350px;
        gap: 50px;
        align-items: center;
    }

    .cont{
        background-color: beige;
        height: 410px;
        width: 350px;
        border-radius: 30px;
        padding: 2%;
        margin: 3%;
    }

    .con{
        background-color: beige;
        height: 400px;
        width: 350px;
        border-radius: 30px;
        padding: 2%;
        text-align: center;
    }

    input{
        width: 300px;
        border-color: #F4B8A8;
    }

    textarea{
        width: 300px;
        border-color: #F4B8A8;
    }

    .btnmess{
        width: 300px;
    }

    .pa{
        font-size: 15px;
        padding: 1%;
    }

}





/*for tablets*/
/* @media only screen and (max-width: 768px){
    .unordered{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        position: absolute;
        height: 425%;
        width: 200px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0 0 0 0.5);
        backdrop-filter: blur(20px); 
    }

    .unordered.active{
        display: flex;
    }

    .toggle{
        display: block;
        z-index: 999;
    }

    .toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .home{
        flex-direction: column-reverse;
    }

    .home-info{
        text-align: center;
        width: 380px;
    }
    .home-info h1 {
        font-size: 40px;
        padding-bottom: 10px;
    }

    .home-info p{
        padding-top: 10px;

    }

    .image{
        margin: 50px 0 30px 35px;
    }

    .about-info{
        width: 350px;
        height: 200px;
        padding: 10px;
    }

    .info{
        flex-direction: column;
        margin-top: 50px;
    }

    .personal{
        width: 350px;
        padding: 5%;
    }

    .education{
        width: 350px;
        padding: 5%;
    }

    .skills{
        width: 350px;
        padding: 5%;
    }

    .service-div{
        flex-wrap: wrap;
        padding: 6%;
    }

    .conta{
        flex-direction: column-reverse;
        height: 900px;
        width: 350px;
        gap: 50px;
        align-items: center;
    }

    .cont{
        background-color: beige;
        height: 410px;
        width: 350px;
        border-radius: 30px;
        padding: 2%;
        margin: 3%;
    }

    .con{
        background-color: beige;
        height: 400px;
        width: 350px;
        border-radius: 30px;
        padding: 2%;
        text-align: center;
    }

    input{
        width: 300px;
        border-color: #F4B8A8;
    }

    textarea{
        width: 300px;
        border-color: #F4B8A8;
    }

    .btnmess{
        width: 300px;
    }

    .pa{
        font-size: 15px;
        padding: 1%;
    }
  
} */